* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 1rem;
  min-height: 100vh;

  
}

.colorBox {
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 1rem;
  border: 2px rgb(29, 12, 12) solid;
  border-radius: 10px;
  height: 15rem;
  width: 15rem; 
  background-color: white;
}

form {
  width: 15rem;
}

label {
  position: absolute;
  left: -999999px;

}

input[type='text'] {
  margin-top: 0.5rem;
  padding: 0.25em;
  width: 15rem;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
  outline: none;
}

.toggle {
  margin-top: 1rem;
  background-color: papayawhip;
  color: #000;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;  
}

