* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.colorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px rgb(29, 12, 12) solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 15rem;
  width: 15rem; 
  background-color: white;
}

#search {
  height: 3rem;
  width: 15rem;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
}